body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    text-align: center;
    padding: 2rem;
}

h2 {
    color: #f90;
}

.monstruo {
    width: 150px;
}

.actividad1 {
    border: 10px solid orange;
    padding: 10px;
    display: inline-block;
}