.azul {
  color: blue;
}

.rojo {
    color: red;
}

.lila {
    color: blueviolet;
}

.verde {
    color: green;
}
.beig {
    color: burlywood;
}

.naranja {
    color: orangered;
}

.rosa {
    color: palevioletred;
}
