body {
    font-family: 'Merriweather', serif;
    padding: 20px;
    line-height: 1.6;
    font-size: 30px;
  }
  
  
  .resaltado {
    background-color: yellow;
    text-decoration: underline;
  }
  
  strong {
    font-weight: bold;
  }

